.wrapper {
	max-width: 1230px;
	min-height: 362px;
	background: #FFFFFF;
	border-radius: 20px;
	margin: 0 auto;
	padding: 30px 30px;
}

.film-detail {
	padding: 20px 20px;
	display: flex;
   flex-direction: row;
   justify-content: space-between;
   text-decoration: none;
}

.film_info {
	margin-left: 30px;
  }

.detail-head {
	font-weight: 800;
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.film-detail-info {
	color: #333333;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
}

.film-detail-info-value {
	margin-left: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;

}