.portal-info {
	display: flex;
	background-color: white;
	width: 1230px;
	height: 320px;
	margin: 0 auto;
	padding: 30px 30px;
	border-radius: 20px;
}
.portal-info-title {
	margin-left: 50px;
}
.info-page-text {
	width: 594px;
	height: 210px;

	font-weight: 400;
	font-size: 15px;
	line-height: 140%;
}

.info-page-image {
	width: 409px;
	height: 272px;
}

.info-page-header {
	width: 175px;
	height: 41px;

	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}