.mainFooter {
	display: flex;
	justify-content: center;
    align-items: center;
	height: 154px;
	background: #3A3A3A;
	height: 154px;
	margin-top: 30px;

	.title {
		font-weight: 700;
		font-size: 30px;
		color: #fff;
	}
}
