.main-page {
	max-width: 1230px;
	min-height: 862px;
	background: #FFFFFF;
	border-radius: 20px;
	margin: 0 auto;
	padding: 30px 30px;
}


.film {
	max-width: 180px;
	max-height: 360px;
	margin-top: 25px;
	padding-top: 20px;
	color: #333333;
	text-decoration: none;

}

.film:hover {
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
	border-radius: 20px;
  }

.name {
	font-weight: 600;
	font-size: 16px;
}

.film-image {
	width: 180px;
	height: 260px;
}
.film-title {
	margin-left: 10px;
}

.main-head {
	text-align: center;
	margin-bottom: 20px;
}

.main-logo {
	color: #E59C9C;
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 82px;

}

.main-title {
	color: #fff;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
}